 /* :active{
 background-color: rgb(132, 219, 147);
 border-radius: 5px;
} */
/* .class_list :hover{
    background-color: rgb(199, 197, 197);
    box-shadow: 4px 5px 6px;
} */
/* .class_list{
   width: 200px;
   height: 200px;
   border-color: black;
   background-color: rgb(74, 104, 105);
   border-radius: 6px;
} */
input{
    margin: 5px;
    padding: 4px;
    border-radius: 5px;
}